/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
}

mat-label {
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}

/* Only for Immunization component 
.mat-elevation-z8 {
    margin-top: 120px;
    margin-bottom: 120px;
}
*/

table {
    width: 100%;
}

@media print {
    .rodape {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0px;
    }
}